<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">
<module name="Checker">
    <!--<module name="TestAuditListener">
        <property name="file" value="result.bin"/>
    </module>-->

    <!-- Add the TreeWalker that is required as a container for Checks -->
    <module name="TreeWalker">
        <module name="CyclomaticComplexity">
            <property name="max" value="7"/>
        </module>
        <module name="NPathComplexity">
            <property name="max" value="200"/>
        </module>
        <module name="JavaNCSS">
            <property name="methodMaximum" value="40"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="max" value="10"/>
        </module>
        <module name="StrictDuplicateCode">
            <property name="min" value="15"/>
        </module>
    </module>
</module>
